---
layout: layout.njk
permalink: /site/{{env.LEVEL2NAME}}/
crumb : /site/page/
fields : ["id","name","createdAt"]
headerFields : ["id","Name","Created At"]

title :
---
<script>

    /*
    This custom select is used to render a drop down of options items. Currenlty is it only used on level 1 index
    */
    let customButton =`<a id="content-[id]-cy" href="/site/page/content/edit?id=[id]" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-edit fa-sm text-white-50"></i> Content</a>`;
        //Local look up takes a field from the returned API call and replaces with something that is easier to understand         
        let localReplace =  []
        let formatFields = []
        //these are the fields that we want to return, it gets this from the front matter data at the top of this file. 
        //note : we could do this cleaner
        let theFields = "{% for field in fields %}{% if loop.last %}{{ field }}{% else %}{{ field }},{% endif %}{% endfor %}";
        let title = `{{env.LEVEL2NAME | capitalize }}`;

        //main settings array to handle all the variations of rendering.
        const theSettings = {"checkAdmin":0,"tableSchema":0,"allowOnlyOne":0,"editButton":1,"deleteButton":1,"customButton":customButton,"customSelect":"","localDropDown":"","localReplace":localReplace,"table":"page","formatFields":formatFields,"fields":theFields,"crumb":"{{ crumb }}","foreignKey":"","lookUps":"","title":title}
</script>
{% set theJs %}
    {% include 'admin/table-index.js' %}
{% endset %}
<script>
    //clear the currentDataItem
    window.localStorage.currentDataItemId = "";
</script>
{%  include "admin/table-index.njk" %}