---
layout: layout.njk
permalink: /property/edit/
---
<script>
    let theTable = "property";
    let theFields = "id,adminId,name,paymentAddress,address_1,address_2,address_3,address_4,address_5,address_6,bathrooms,bedrooms,internationalCost,localCurrency,localCost,internationalTaxesCost,LocalTaxesCost,localSuggestedRentalPrice,internationalSuggestedRentalPrice,currentlyRented,state,tranches,tranchePrice"
    let foreignKeys = "";
    //set the loop up table
    let lookUps = []
    let localLookUp = [{
        "field": "state",
        "values": [{
            "lookValue": 0,
            "replaceValue": "crowdfund"
        }, {
            "lookValue": 1,
            "replaceValue": "sold"
        }]
    },{
        "field": "currentlyRented",
        "values": [{
            "lookValue": 0,
            "replaceValue": "no"
        }, {
            "lookValue": 1,
            "replaceValue": "yes"
        }]
    }]
</script>
{% include "admin/table-edit.njk" %}
