---
layout: layout.njk
permalink: /property/distributions/
crumb : /property/distribution/
fields : ["id","name","amountInternational","datePaid","createdAt"]
headerFields : ["id","Name","Amount","Date Paid","Created At"]
title : distributions
---
<script>
   let title = `<a id="" href="/{{env.LEVEL1NAME}}/">{{env.LEVEL1NAME | capitalize }}</a> / <span>{{title}}</span>`;
    let formatFields = [{"field":"amountInternational","function":"formatCurencyUSD(tmpValue)"}]
    let theFields = "{% for field in fields %}{% if loop.last %}{{ field }}{% else %}{{ field }},{% endif %}{% endfor %}";
    const theSettings = {"checkAdmin":0,"tableSchema":0,"allowOnlyOne":0,"editButton":0,"deleteButton":0,"customButton":"","customSelect":"","localReplace":"","table":"property_distribution","formatFields":formatFields,"fields":theFields,"crumb":"{{ crumb }}","foreignKey":"propertyId","lookUps":"","title":title}

</script>
{% set theJs %}
    {% include 'admin/table-index.js' %}
{% endset %}
{%  include "admin/table-index.njk" %}

