---
layout: layout.njk
permalink: /property/payment/new/
---
<script>
    let theTable = "rental_payment";
    let foreignKeys = {"id":"propertyId"}
    let lookUps = [{"table":"rental_agreement","key":"rentalId","foreignKey":"propertyId","value":window.localStorage.currentDataItemId},{"table":"payment_types","key":"paidBy","foreignKey":"","value":""}]
    let theFields = "propertyId,name,amountInternational,datePaid,paidBy,BTCExchangeRate,ETHExchangeRate,BNBExchnageRate,rentalId";//main settings array to handle all the variations of rendering.
    const theSettings = {"checkAdmin":0,"tableSchema":0,"allowOnlyOne":0,"editButton":1,"deleteButton":1,"customButton":"","customSelect":"","localDropDown":"","localReplace":"","table":"rental_payment","formatFields":"","fields":theFields,"crumb":"{{ crumb }}","foreignKey":"propertyId","lookUps":lookUps,"overRideTitle":""}

</script>
{% include "admin/table-new.njk" %}