---
layout: layout.njk
permalink: /property/images/
crumb : /property/images/
fields : ["id","filename","url"]
headerFields :  ["id","Name","Url"]
title : images
---
<script>
    let customSelect = "";
    let localLookUp = "";
    let lookUps = "";
    let theFields = "{% for field in fields %}{% if loop.last %}{{ field }}{% else %}{{ field }},{% endif %}{% endfor %}";
    let foreignKeys = {"id":"propertyId"};
    //main settings array to handle all the variations of rendering.
    const theSettings = {"checkAdmin":0,"tableSchema":0,"allowOnlyOne":0,"editButton":0,"deleteButton":1,"customButton":"","customSelect":customSelect,"localLookUp":localLookUp,"table":"property_images","formatFields":"","fields":theFields,"crumb":"{{ crumb }}","foreignKey":"propertyId","lookUps":lookUps}
</script>
{% set theJs %}
    {% include 'admin/table-index.js' %}
{% endset %}
{%  include "admin/table-index.njk" %}

