---
layout: layout.njk
permalink: /property/leads/
crumb : /property/lead/
fields : ["id","email","tranchesRequested","createdAt"]
headerFields : ["id","Email","Tranches Requested",Created At"]

title :
---
<script>

    let theFields = "{% for field in fields %}{% if loop.last %}{{ field }}{% else %}{{ field }},{% endif %}{% endfor %}";
    let lookUps = "";
    let formatFields = [{"field":"amountInternational","function":"formatCurencyUSD(tmpValue)"}]
    let customSelect = "";
    let localLookUp = "";

   //main settings array to handle all the variations of rendering.
    const theSettings = {"checkAdmin":0,"tableSchema":0,"allowOnlyOne":1,"editButton":0,"deleteButton":0,"customButton":"","customSelect":customSelect,"localLookUp":localLookUp,"table":"property_leads","formatFields":formatFields,"fields":theFields,"crumb":"{{ crumb }}","foreignKey":"propertyId","lookUps":lookUps}

</script>
{% set theJs %}
    {% include 'admin/table-index.js' %}
{% endset %}
{%  include "admin/table-index.njk" %}