---
layout: layout.njk
permalink: /property/costs/
crumb : /property/cost/
fields : ["id","name","amountInternational","paidBy","datePaid","createdAt"]
headerFields : ["id","Name","Amount","Paid By","Date Paid","Created At"]
title : costs
---
<script>
    const di = JSON.parse(window.localStorage.currentDataItem)
    let title = `<a id="" href="/{{env.LEVEL1NAME}}/">{{env.LEVEL1NAME | capitalize }}</a> / ${di.name} / <span>{{title}}</span>`;    let lookUps = [{"table":"payment_types","key":"paidBy","foreignKey":"name","value":""}]
    let formatFields = [{"field":"amountInternational","function":"formatCurencyUSD(tmpValue)"}]
    let theFields = "{% for field in fields %}{% if loop.last %}{{ field }}{% else %}{{ field }},{% endif %}{% endfor %}";
    //main settings array to handle all the variations of rendering.
    const theSettings = {"checkAdmin":0,"tableSchema":0,"allowOnlyOne":0,"editButton":1,"deleteButton":1,"customButton":"","customSelect":"","localLookUp":"","localReplace":"","table":"rental_cost","formatFields":formatFields,"fields":theFields,"crumb":"{{ crumb }}","foreignKey":"propertyId","lookUps":"","title":title}
</script>
{% set theJs %}
    {% include 'admin/table-index.js' %}
{% endset %}
{%  include "admin/table-index.njk" %}