---
layout: layout.njk
permalink: /property/lead/new/
---
<script>
    let localDropDown =  [
        {"field": "state",
        "values": ['0','1','2'],
        "displayValues": ['Pending','Accepted','Rejected']}]
    let theFields = "propertyId,email,tranchesRequested,state"
    const theSettings = {"checkAdmin":0,"tableSchema":0,"allowOnlyOne":0,"editButton":1,"deleteButton":1,"customButton":"","customSelect":"","localDropDown":localDropDown,"localReplace":"","table":"property_leads","formatFields":"","fields":theFields,"crumb":"{{ crumb }}","foreignKey":"propertyId","lookUps":"","title":"add a new lead"}
</script>

{% include "admin/table-new.njk" %}