---
layout: layout.njk
permalink: /property/amenity/new/

---
<script>
    let customSelect = "";
    let localLookUp =  [{
        "field": "name",
        "values": ['Balcony','Deck','Fully Furnished','24 Hour Security','Air Conditioning','Private Pool','Communial Pool','Gym','Key Card Access','Internet Available']}]
    let lookUps = "";
    let theFields = "name"
    let foreignKeys = "";
    //main settings array to handle all the variations of rendering.
    const theSettings = {"checkAdmin":0,"tableSchema":0,"allowOnlyOne":0,"editButton":0,"deleteButton":1,"customButton":"","customSelect":customSelect,"localLookUp":localLookUp,"table":"property_amenities","formatFields":"","fields":theFields,"crumb":"{{ crumb }}","foreignKey":"propertyId","lookUps":lookUps}
 </script>

{% include "admin/table-new.njk" %}