---
layout: layout.njk
permalink: /property/tokens/
crumb : /property/token/
fields : ["id","name","contractAddress","createdAt"]
headerFields :  ["id","Name","Contract Address","Created At"]
title : token
---
<script>
    let lookUps = "";
    let customSelect = "";
    let localLookUp = "";
    let theFields = "{% for field in fields %}{% if loop.last %}{{ field }}{% else %}{{ field }},{% endif %}{% endfor %}";
    let foreignKeys = {"id":"propertyId"};
    //main settings array to handle all the variations of rendering.
    const theSettings = {"checkAdmin":0,"tableSchema":0,"allowOnlyOne":1,"editButton":1,"deleteButton":1,"customButton":"","customSelect":customSelect,"localLookUp":localLookUp,"table":"property_token","formatFields":"","fields":theFields,"crumb":"{{ crumb }}","foreignKey":"propertyId","lookUps":lookUps}    
</script>
{% set theJs %}
    {% include 'admin/table-index.js' %}
{% endset %}
{%  include "admin/table-index.njk" %}