---
layout: layout.njk
permalink: /property/leads/
crumb : /property/lead/
fields : ["id","email","tranchesRequested","state","orderUrl","createdAt"]
headerFields : ["id","Email","Tranches Requested","State","Payment URL",Created At"]
title : leads
---
<script>

    const di = JSON.parse(window.localStorage.currentDataItem);
    const customButton = `<a id="createPaymentLink" href="javascript:createPaymentLink(${di.id},[id],[tranchesRequested],'[email]')" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-edit fa-sm text-white-50"></i> Create Payment</a>`;
    let title = `<a id="" href="/{{env.LEVEL1NAME}}/">{{env.LEVEL1NAME | capitalize }}</a> / ${di.name} / <span>{{title}}</span>`;    let theFields = "{% for field in fields %}{% if loop.last %}{{ field }}{% else %}{{ field }},{% endif %}{% endfor %}";
    let formatFields = [{"field":"amountInternational","function":"formatCurencyUSD(tmpValue)"}]
    const theSettings = {"checkAdmin":0,"tableSchema":0,"allowOnlyOne":0,"editButton":1,"deleteButton":1,"customButton":customButton,"customSelect":"","localLookUp":"","localReplace":"","table":"property_leads","formatFields":formatFields,"fields":theFields,"crumb":"{{ crumb }}","foreignKey":"propertyId","lookUps":"","title":title}
</script>
{% set theJs %}
    {% include 'admin/table-index.js' %}
{% endset %}
{%  include "admin/table-index.njk" %}