---
layout: layout.njk
permalink: /property/lead/new/
---
<script>
    let theFields = "propertyId,email,tranchesRequested"
    const theSettings = {"checkAdmin":0,"tableSchema":0,"allowOnlyOne":0,"editButton":1,"deleteButton":1,"customButton":"","customSelect":"","localDropDown":"","localReplace":"","table":"property_leads","formatFields":"","fields":theFields,"crumb":"{{ crumb }}","foreignKey":"propertyId","lookUps":"","title":"add a new lead"}
</script>

{% include "admin/table-new.njk" %}