---
layout: layout.njk
permalink: /property/token/edit/
---
<script>
    var loadMessage = {"message":"Changing the detials here will results in differences from the ones in the blockchain","type":2,"timeout":1}
    let lookUps = [{"table":"agent","key":"agentId","foreignKey":"","value":""},{"table":"tenant","key":"tenantId","foreignKey":"","value":""}]
    let theFields = "id,name,contractSymbol,totalSupply,contractAddress,blockExplorerUrl,mintedAddress,isDeployed";
    //main settings array to handle all the variations of rendering.
    const theSettings = {"checkAdmin":0,"tableSchema":0,"allowOnlyOne":0,"editButton":1,"deleteButton":1,"customButton":"","customSelect":"","localDropDown":"","localReplace":"","table":"property_token","formatFields":"","fields":theFields,"crumb":"{{ crumb }}","foreignKey":"propertyId","lookUps":lookUps,"title":""}


</script>
{% include "admin/table-edit.njk" %}
