---
layout: layout.njk
permalink: /property/owners/
crumb : /property/owner/
fields : ["id","userId","propertyTokenId","tokenAmount","createdAt"]
headerFields : ["id","Owner","Token","Amount","Created At"]
title : owners
---
<script>
   const di = JSON.parse(window.localStorage.currentDataItem)
   let title = `<a id="" href="/{{env.LEVEL1NAME}}/">{{env.LEVEL1NAME | capitalize }}</a> / ${di.name} / <span>{{title}}</span>`;   let lookUps = [{"table":"user","key":"userId","foreignKey":"","value":""},{"table":"property_token","key":"propertyTokenId","foreignKey":"","value":""}]
   let formatFields = [{"field":"tokenAmount","function":"formatNumber(tmpValue)"}]
   let customSelect = "";
   let localLookUp = "";
   let theFields = "{% for field in fields %}{% if loop.last %}{{ field }}{% else %}{{ field }},{% endif %}{% endfor %}";
   let foreignKeys = {"id":"propertyId"};
   //main settings array to handle all the variations of rendering.
   const theSettings = {"checkAdmin":0,"tableSchema":0,"allowOnlyOne":0,"editButton":1,"deleteButton":1,"customButton":"","customSelect":customSelect,"localLookUp":localLookUp,"table":"property_owner","formatFields":formatFields,"fields":theFields,"crumb":"{{ crumb }}","foreignKey":"propertyId","lookUps":lookUps,"title":title}

</script>
{% set theJs %}
    {% include 'admin/table-index.js' %}
{% endset %}
{%  include "admin/table-index.njk" %}