---
layout: layout.njk
permalink: /property/rental-agreement/edit/
---
<script>
    //set the table you want to insert for
    let theTable = "rental_agreement";
    //set the fields you want to return, leave it blank for all.
    let theFields = "name,amount,deposit,contract,startDate,endDate,propertyId,agentId,tenantId,active";
    //set the primary table id
    //let foreignKeys = {"id":"propertyId"}
    let lookUps = [{"table":"agent","key":"agentId","foreignKey":"","value":""},{"table":"tenant","key":"tenantId","foreignKey":"","value":""}]
</script>
{% include "admin/table-edit.njk" %}
