---
layout: layout.njk
permalink: /tenant/new/
---
<script>
    let theTable = "tenant";
    let theFields = "name,email,phone";
    let foreignKeys = "";
    //set the loop up table
    let lookUps = []
</script>
{% include "admin/table-new.njk" %}